:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 36px;
    font-weight: 900;
    font-size: 32px;
    color: white;
}

#nav-buttons {
    display: flex;
    gap: 16px;
}

#content {
    background-color: aliceblue;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.home-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textbox {
    margin: 32px;
}

button {
    border-color: transparent;
    border-radius: 6px;
    background-color: bisque;
    cursor: pointer;
    height: 2rem;
    width: 75px;
}